#apps{
    width:100%;
    height:800px;
    background-color: cornflowerblue;
}
body{
    text-align: center;
}
.line{
    height:6px;
    background-color: darkblue;
    width:100px;
    margin:8px auto;
}
#games{
    width:100%;
    height:800px;
    background-color:aliceblue;
}
img{
    width:200px;
    transition:transform .2s;
}
img:hover{
    transform:scale(0.9);
}
#chatbots{
    width:100%;
    height:800px;
    background-color:floralwhite;
}
